* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #46214e;
  height: 50vh;
}

.hero-content {
  text-align: center;
  padding: 50px;
  font-size: 33px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-content h1 {
  color: #9890de;
}

.hero-content p {
  color: #cad4f3;
  margin: 20px 0 30px 0;
}

.hero-content a {
  text-decoration: none;
  color: #010001;
  background-color: #cad4f3;
  border-radius: 10px;
  padding: 5px 15px;
}
