*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(207, 211, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    
}

h1{
    text-align: center;
    color: rgb(106, 106, 226);
}

label{
    display: block;
    font-size: 23px;
    font-weight: 600px;
    margin-bottom: 10px;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

button{
    width: 100%;
    font-size: 23px;
    height: 40px;
    background-color: rgb(106, 106, 226);
    color: white;
    border-style: none;
    font-weight: 600;
    cursor: pointer;
}