*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(18, 18, 43);
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
    height: 600px;
    gap: 10px;
    padding: 20px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.first{
    grid-row: 1/4;
}

.second{
    grid-column: 2/4;
}

.sixth{
    grid-row: -3/-1;
    grid-column: 4/5;
}