*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 200px;
    height: 200px;
    background-color: orange;
    /* box-shadow: 10px 10px blue; */
    /* box-shadow: 0px 0px 0px 10px blueviolet; */
    /* box-shadow: inset 10px 10px 5px 20px blueviolet; */

    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px tomato;
}