/* h1{
    background-color: red;
}

ul{
    background-color: antiquewhite;
}

#exercise_heading{
    background-color: lightblue;
}

#unorderd_list{
    background-color: tomato;
} */


h1{
    background-color: #fb6262;
}

ul{
    background-color: #5f5fdc;
    font-size: 23px;
}

li{
    font-size: 1em;
}