*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    padding: 20px;
    position: relative;
}

.box{
    width: 200px;
    height: 100px;
    background-color: aqua;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    animation-delay: 2s;
    position: absolute;
}

@keyframes moving {
    0%{
        background-color: aqua;
        top: 10px;
        left: 10px;
    }
    25%{
        background-color: blue;
        top: 10px;
        left: 1100px;
    }
    50%{
        background-color: greenyellow;
        top: 500px;
        left: 1100px;
    }
    75%{
        background-color:lightgreen;
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: green;
        top: 10px;
        left: 10px;
    }
}

