* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost";
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

p {
  font-size: 1.5rem;
  color: #fff;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image-2.jpg");
 
}

.section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image-3.jpg");
}

.section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image-4.jpg");
}
