*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.first{
    background-color: yellow;
}

.second{
    background-color: green;
}

.third{
    background-color: red;
}

.fourth{
    background-color: blueviolet;
}