@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #000;
  --font-color: #fff;
  --bg-color: #000;
  --heading-color: #ff0000;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p,
li,
a {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-decoration: none;
}

/* Navbar */
.site-header {
  background-color: #000000;
}
.navbar {
  box-shadow: 0 14px 30px -14px rgba(255, 0, 0, 0.45);
}

.nav-container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  width: 6rem;
}

.brand-logo a img {
  width: 100%;
}

.brand-logo a,
.nav-item a {
  text-decoration: none;
}

.nav-item a {
  color: #fff;
  text-transform: uppercase;
}

.nav-container ul {
  display: flex;
  list-style: none;
  gap: 6rem;
}

.menu {
  color: #fff;
  display: none;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #ff3d00;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #ff3d00;
}

.nav-link:hover::after {
  width: 100%;
}

/* Hero Section */

.hero-section {
  width: 100%;
  min-height: 90vh;
}

.hero-wrapper {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Google Sans", sans-serif;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(17, 16, 16, 0.6), 0 6px 12px rgba(255, 0, 0, 0.35);

  transition: font-size 0.3s ease;
}

h1 span {
  color: #ff0000;
}

.hero-content p {
  text-align: center;
  font-size: 2.3rem;
  margin: 5rem;
}

.hero-content a {
  padding: 5px 20px;
  margin: 0 10px;
  color: #dc0000;

  background: #000;
  color: #ff1e00;
  border: 2px solid #ff1e00;
  box-shadow: 0 0 10px rgba(255, 30, 0, 0.6), 0 0 20px rgba(255, 30, 0, 0.4);
}

.hero-content .about-us-btn {
  background: linear-gradient(180deg, #ff3b3b, #c90000);
  color: #fff;
  border: 2px solid #fff;

  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);

  transition: all 0.3s ease;
}

.hero-content .about-us-btn:hover {
  background: linear-gradient(180deg, #ff4d4d, #e00000);
  box-shadow: 0 14px 40px rgba(255, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.hero-content a :hover {
  box-shadow: 0 14px 35px rgba(255, 30, 0, 0.5);
}

.hero-image-container {
  width: 80rem;
  margin: 30px 0 0 0;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Main  */
main {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* Membership  */
.container {
  max-width: 140rem;
  margin: auto;
}

.promo-membership h2 {
  font-family: "Google Sans", sans-serif;
  font-weight: 600;
  font-size: 6rem;
  text-align: center;
  padding: 20px 0;
}

.mebership-plans-container {
  width: 100%;
  box-shadow: 0 14px 40px rgba(255, 0, 0, 0.5);
  padding: 30px;
  margin: 10px;

  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.duration {
  width: 300px;
  height: auto;
  border: 1px solid #fff;
  padding: 20px;
}

.duration h3 {
  font-size: 2.6rem;
  text-align: center;
  padding: 10px 0;
}

.red-text {
  color: var(--heading-color);
}

.duration .price-tag {
  color: var(--heading-color);
}

.duration .price {
  font-size: 2rem;
}

.duration ul{
  margin: 10px 20px;
  line-height: 1.6;
}

/* Responsive Nav */

@media screen and (max-width: 800px) {
  .nav-container ul {
    display: none;
  }

  .menu {
    color: #fff;
    display: block;
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    padding: 1rem 2rem;
  }
}

/* Responsive Hero */

@media screen and (max-width: 1000px) {
  .hero-content h1 {
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-image-container {
    width: 60%;
    margin: 30px 0 0 0;
  }
}
