*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    height: 600px;
    background-color: #414141;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.khaki{
    background-color: khaki;
}

.white{
    background-color: white;
}

.first{
    grid-row: 1/3;
}

.second{
    grid-column: 2/4;
}

.third{
    grid-column: 4/6;
}

.fourth{
    grid-row: 2/4;
    grid-column: 2/3;
}

.fifth{
   grid-row: 2/4;
   grid-column: 3/5;
}

.sixth{
    /* grid-row: 5/6;*/
    grid-row: -4/-1;
}

.seventh{
    grid-row: 3/5;
}

.eighth{
    grid-row: 4/5;
    grid-column: 2/4;
}