*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.box{
    background-color: rgb(95, 95, 190);
    border: 3px solid white;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row: 2/4;
}

.content1{
    grid-column: 2/4;
}

.footer{
    grid-column: 1/4;
}