@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: #090909;
  position: sticky;
  top: 0;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.2);
}

/* Navbar */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.brand-logo img {
  width: 5rem;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-items a {
  color: #fff;
}

.menu {
  display: none;
}

.cta a {
  border: 1px solid #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  color: #090909;
}

/* Main */

/* banner */
.hero-banner-section {
  width: 100%;
  margin: 30px 0;
}

.hero-banner-section img {
  width: 100%;
}

/* Services */

.section-heading {
  font-weight: 600;
  font-size: 3rem;
  margin: 20px;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-card {
  width: 300px;
  min-height: 350px;
  padding: 10px;
  margin: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.service-card h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.service-card ul li {
  list-style: disc;
  margin: 0 20px;
}

/* About */

.about-content-wrapper {
  width: 100%;
  display: flex;
  background-color: #c3d6df;
  margin: 0 0 50px 0;
}

.about-image {
  /* width: 100%; */
  flex: 0 0 50%;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-content {
  /* max-height: 50rem; */
  padding: 0 2rem;
  font-size: 1.3rem;
  flex: 1;
  align-self: center;
  min-width: 0;
}

.about-content p {
  margin: 2rem 0;
  font-size: clamp(16px, 1.2vw, 23px);
}

.about-content strong {
  font-weight: 600;
}

/* Why we stand out */
.stand-out-content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.stand-out-content-wrapper .box {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.stand-out-content-wrapper .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.second,
.third,
.sixth,
.seventh,
.tenth,
.eleventh {
  aspect-ratio: 1 / 1; /* square images */
  overflow: hidden;
}

.box h4,
.box p {
  font-size: clamp(30px, 1.2vw, 27px);
  /* align-self: center; */
}

.box h4 {
  font-weight: 600;
  margin: 28px 0;
}

.box p {
  line-height: 1.5;
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 300px;
  gap: 1.6rem;
  /* border: 1px solid black; */
  background-color: #d9d8d0;
  border-radius: 5px;

  margin: 0 0 30px;
  padding: 20px 0;
}

.contact-content-wrapper h4 {
  font-weight: 600;
  font-size: 2rem;
  margin: 20px 10;
}

.contact-content-wrapper a {
  min-width: 10%;
  border: 1px solid #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: #04d960;
  color: #090909;
}


/* footer */

footer{
    background-color: #ecefee;
}

.footer-heading{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.quick-links{
    display: flex;
    flex-direction: column;
}

.quick-links h4{
    font-weight: 500;
}

.links{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* margin: 10px; */
    padding: 10px;
}

.quick-links a{
    text-decoration: none;
    color: #090909;
}


.quick-link-wrapper h4, .contact-links h4{
    font-weight: 500;
}

/* Media Queries */

/* Responsive Navbar */

@media screen and (max-width: 800px) {
  .nav-items,
  .cta {
    display: none;
  }

  .menu {
    display: block;
    color: #fff;
    font-size: 1.6rem;
  }

  header {
    height: 60px;
  }

  .brand-logo img {
    width: 3.5rem;
  }
}

@media screen and (max-width: 900px) {
  .about-content-wrapper {
    flex-direction: column;
  }

  .about-image {
    flex: 0 0 auto;
    width: 280px; /* fixed image width */
    align-self: center;
  }

  .about-content {
    /* width: 280px; */
    text-align: center; /* optional */
  }
}

@media (max-width: 768px) {
  .stand-out-content-wrapper {
    grid-template-columns: 1fr;
  }

  /* remove forced aspect ratio on mobile if needed */
  .third {
    height: auto;
  }

  .box img {
    height: auto;
  }

  .second {
    order: 1;
  }
  .first {
    order: 2;
  }

  .third {
    order: 3;
  }
  .fourth {
    order: 4;
  }

  .sixth {
    order: 5;
  }
  .fifth {
    order: 6;
  }

  .seventh {
    order: 7;
  }
  .eighth {
    order: 8;
  }

  .tenth {
    order: 9;
  }
  .ninth {
    order: 10;
  }

  .eleventh {
    order: 11;
  }
  .twelveth {
    order: 12;
  }
}
