body{
    background-color: black;
}

.container{
    background-color: antiquewhite;
    height: 800px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    gap: 10px;
}

.box{
    width: 150px;
    height: 150px;
    /* margin: 10px; */
}

.first{
    background-color: orange;
    /* flex-grow: 1; */
}

.second{
    background-color: green;
    /* flex-grow: 2; */
    flex-shrink: 4;
    flex-basis: 300px;
}

.third{
    background-color: red;
    /* flex-grow: 3; */
}

.fourth{
    background-color: blue;
}