#container{
    background-color: yellow;
    width: 600px;
    height: 400px;
    position: relative;
}

.box{
    background-color: rgb(54, 54, 238);
}

.box1, .box3{
    width: 200px;
    height: 160px;
}

.box3{
    position: absolute;
    bottom: 0px;
}

.box2, .box4{
    width: 300px;
    height: 160px;
    position: absolute;
}

.box2{
    top: 0;
    right: 0;
}

.box4{
    bottom: 0;
    right: 0;
}