/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: black;
}

#container{
    background-color: white;
    width: 600px;
    height: 400px;
    position: relative;
}

#circle{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 100px;
}