#container{
    background-color: red;
    width: 600px;
    height: 400px;
    /* position: relative; */
}

#inner{
    background-color: rgb(1, 1, 95);
    height: 250px;
    /* position: absolute; */
    /* top: 50px;
    z-index: 10; */
    position: relative;
    top: 80px;
}

#circle{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 200px;
}