*{
    margin: 0;
    padding: 0;
}

h2{
    background-color: orange;
    position: relative;
    left: 200px;
    top: 400px;
    bottom: 50px;
}

h3{
    background-color: pink;
    position: fixed;
    /* top: 0; */
}

div{
    background-color: lightblue;
    height: 1200px;
}

h4{
    background-color: brown;
    position: sticky;
    top: 0;
}

p{
    background-color: blueviolet;
    position: absolute;
    top: 0px;
}

.div2{
    position: relative;
}

h1{
    position: relative;
    z-index: 20;
}