
#firstId{
    background-color: yellow;
}

h1{
    background-color: red;
}

.firstClass{
    background-color: green;
}

li{
    background-color: pink;
}

h2{
    background-color: tomato !important;
}