* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  width: 500px;
  height: 650px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.second a {
  color: #0046ff;
}

#name_label, #email_label, #password_label{
  display: block;
  visibility: hidden;
}

input {
  height: 40px;
  width: 100%;
  font-size: 19px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

/* .remember_me {
  visibility: visible;
  display: inline-block;
} */

.remember_me_checkbox {
    width: 50px;
  height: 20px;
}

.access{
    margin: 30px 0;
}
.signup {
  background-color: #0046ff;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 19px;
  font-weight: 550;
  border-style: none;
  border-radius: 5px;
  margin: 30px 0;
}

h1,
p {
  text-align: center;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.btn_container button{
    width: 100px;
    font-size: 16px;
    font-weight: 550;
    color: #0046ff;
    background-color: white;
    border: 1px solid #3166f7;
    border-radius: 3px;
    padding: 10px;
}