h1{
    background-color: orange;
    height: 300px;
    width: 300px;
    border: 10px solid black;
    padding: 15px;
    margin: 20px;

    /* border-top: 15px solid black; */
    padding-top: 10px;

    border-radius: 50px;
}

h2{
    background-color: pink;
    border: 2px solid blue;
}

p{
    background-color: lightblue;
    border: 2px solid blue;
    padding: 15px;
    margin: 20px;
}