* {
  margin: 0;
  padding: 0;
}

span {
  color: blue;
  /* background-color: orange; */
  height: 200px;
  width: 200px;
  padding: 20px;
  /* margin: 20px; */
  margin-top: 100px;
  /* display: block; */
}

h1 {
  background-color: aqua;
  border: 10px solid black;
  padding: 20px;
  height: 300px;
  width: 300px;
  /* display: inline; */
  display: inline-block;
}

h2 {
  background-color: blueviolet;
  border: 10px solid black;
  padding: 20px;
  display: inline-block;
  height: 300px;
  width: 300px;
}
